<div class="inline-undefined">
  {{svg-jar "undefined-svg"}}
</div>

<div class="inline-root">
  {{svg-jar "root space"}}
</div>

<div class="inline-nested">
  {{svg-jar "images/nested.dot"}}
</div>

<div class="inline-with-class">
  {{svg-jar "root space" class="helper-class"}}
</div>

<div class="symbol-root">
  {{svg-jar "#root-space"}}
</div>

<div class="symbol-nested">
  {{svg-jar "#images/nested.dot"}}
</div>

<div class="symbol-with-class">
  {{svg-jar "#root-space" class="helper-class"}}
</div>
