<div class="unknown-wrap">
  {{svg-jar "unknown"}}
</div>

<div class="root-wrap">
  {{svg-jar "root"}}
</div>

<div class="dot-spaced-wrap">
  {{svg-jar "dot.  spaced_"}}
</div>

<div class="nested-wrap">
  {{svg-jar "images/nested"}}
</div>

<div class="original-wrap">
  {{svg-jar "attrs-test"}}
</div>

<div class="custom-wrap">
  {{svg-jar "attrs-test"
      class="custom-class"
      foo="foo"
      viewBox="0 0 234 234"
      width=null
  }}
</div>

<div class="rewritten-attrs-wrap">
  {{svg-jar "attrs-test" }}
</div>

<div class="double-custom-size-wrap">
  {{svg-jar "attrs-test" width="10px" size=2}}
</div>

<div class="triple-original-size-wrap">
  {{svg-jar "attrs-test" size=3}}
</div>
